<!-- <ul>
    <li>
        <button class="btn btn-primary">
            <a routerLink="/addproduct">Go To add new Product</a>
        </button>
    </li>
    <li><a routerLink="/productlist">Show all Product</a></li>
</ul>  -->

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
    <a class="navbar-brand" href="#">CRUD App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 mx-auto">
        <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/addproduct">Go To add new Product</button> &nbsp; &nbsp;
        <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/productlist">Show all Product</button>
      </form>
    </div>
</div>
  </nav>